<main>
    <div class="mine-field" [ngStyle]="{'--columns': x_cols, '--rows': y_rows}">
        <app-tile 
            class="tile"

            *ngFor="let tile of this.tiles"

            [revealed]="tile.revealed"
            [isMine]="tile.isMine"
            [exploded]="tile.exploded"
            [flagged]="tile.flagged"
            [adjacentMines]="tile.adjacentMines"
            
            [ngClass]="{'revealed-class': tile.revealed}"
            
            (click)="checkTile(tile)"
            (contextmenu)="$event.preventDefault(); flagTile(tile)"
        >
        </app-tile>
    </div>
</main> 