<main>
    <div class="mine-field" [ngStyle]="{'--columns': x_cols, '--rows': y_rows}">
        <app-tile class="tile" *ngFor="let tile of this.tiles" [revealed]="tile.revealed" [isMine]="tile.isMine"
            [exploded]="tile.exploded" [flagged]="tile.flagged" [adjacentMines]="tile.adjacentMines"
            [ngClass]="{'revealed-class': tile.revealed, 'flagged-class': tile.flagged}" (click)="checkTile(tile)"
            (contextmenu)="$event.preventDefault(); flagTile(tile)">
        </app-tile>

        <div class="overlay" [ngClass]="{'overlay': true, 'visible': showOverlay, 'hidden': !showOverlay}">
            <span class="status">
                <h3 *ngIf="gameState === 'first' || gameState === 'game'">Paused</h3>
                <h3 *ngIf="gameState === 'win'">Congratulations!</h3>
                <h3 *ngIf="gameState === 'lose'"><b>Game Over</b></h3>
                <p *ngIf="gameState === 'win' || gameState === 'lose'">You {{ gameState }}</p>
            </span>

            <span class="restart-wrapper">
                <button>Restart</button>
            </span>

            <span class="replay-wrapper">
                <button>Replay</button>
            </span>

            <span class="change-diff">
                <p>Change Difficulty:</p>
                <div class="difficulties">
                    <button (click)="setDifficulty('easy')">Easy</button>
                    <button (click)="setDifficulty('medium')">Medium</button>
                    <button (click)="setDifficulty('hard')">Hard</button>
                </div>
            </span>
        </div>

        <div (click)="toggleOverlay()" class="overlay-toggle-wrapper fa-solid fa-gear">
        </div>
    </div>
</main>