main {
    // size to full viewport
    height: 100vh;

    // flexbox layout = simple horizontal and vertical centering
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .game-info {
        width: min(65vw, 65vh);
        position: relative;
        text-align: center;

        // scale face up
        .face {
            font-size: 2rem;
            // alignment to center horizontally
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .dimensions {
            float: left;
        }

        .current-difficulty {
            float: right;
        }

        @media (max-width: 450px) {
            width: min(85vw, 85vh);
        }
    }

    // container for minefield tiles and overlay
    .mine-field {
        // inline grid displays tiles in nice parttern
        display: inline-grid;
        // necessary for overlay 
        position: relative;
        // variables let typescript define # of rows & cols
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: repeat(var(--rows), 1fr);
        // size tiles dynamically 
        width: min(70vw, 70vh); // 70% of view displays nice on all screens
        aspect-ratio: 1;

        // the tiles that makeup the games minefield or board
        app-tile {
            // for proper child dom placement (abosulte pos children)
            position: relative;

            // Flexbox Display and Alignment
            display: flex;
            align-items: center;
            justify-content: center;

            // tile styling
            background-color: lavenderblush;
            border: 1px dashed;

            // mines and such use svgs, padding needed to keep from edges
            ::ng-deep svg {
                padding: 20%;
            }

            // revealed tile
            &.revealed-class {
                background-color: lavender;
            }

            // tile cover pseudo elements 
            &::before {
                // Empty content acts as the tile cover
                content: '';

                // position and cover tile
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                // color and round edges
                background-color: cornflowerblue;
                border-radius: 10%;

                // animation 
                transition: transform 0.420s ease;

                // ensure cover is above tile
                z-index: 1;
            }

            // trigger tile cover animation 
            &.revealed-class::before {
                transform: scale(0);
            }

            // fa flag pseudo element 
            &::after {
                // font awesome flag 
                content: "\f024";
                font-family: "Font Awesome 6 Free";
                font-weight: 900; // make flag solid

                // alignment 
                position: absolute;

                // animation
                transition: transform 0.42s cubic-bezier(0.69, -0.75, 0.5, 2.08);
                transform: scale(0);

                // position above tile cover
                z-index: 2;
            }

            // trigger flag animation
            &.flagged-class::after {
                transform: scale(1);
            }
        }

        // game pause, won, lost, overlay with options
        .overlay {
            // Positioning 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 69; // aboove everything

            // Background and Text Styles 
            background-color: hsla(0, 0%, 25%, 0.75);
            color: white;

            // Flexbox Layout 
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            // bit of a grid hack to ensure overlay is entire size of minefield
            grid-row: 1/-1;
            grid-column: 1/-1;

            user-select: none;

            // visiblity toggle
            height: 0;
            overflow: hidden;
            transition: height 0.3s ease-in-out;

            // toggle overlay animation
            &.visible {
                height: 100%;
            }

            button {
                color: white;
                text-shadow: 0.1rem 0.1rem 0.1rem black;
                padding: 1rem;
                border-radius: 1rem;
                background: linear-gradient(-45deg, midnightblue, cornflowerblue, royalblue, darkblue);
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
                font-weight: normal;
                width: auto;
            }

            button:hover {
                text-decoration: underline;
                text-underline-offset: 0.1rem;
                font-weight: bold;
            }

            // overlay wrappers are all span
            span {
                // size and content align wrappers 
                width: 100%;
                text-align: center;

                // title text bigger
                &.status h3 {
                    font-size: 200%;
                    margin-bottom: 1rem;
                }

                &.change-diff {
                    .difficulties {
                        margin: .5rem 0;

                        button:not(:first-of-type):not(:last-of-type) {
                            margin: 0 1rem;
                        }
                    }
                }
            }

            @media (max-width: 450px) {
                button {
                    padding: 0.25rem;
                }

                span {

                    // title text bigger
                    &.status h3 {
                        font-size: 80%;
                        margin-bottom: 0.5rem;
                    }

                    &.change-diff {
                        .difficulties {
                            margin: .25rem 0;

                            button:not(:first-of-type):not(:last-of-type) {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        // gear icon to toggle overlay
        .overlay-toggle-wrapper {
            // Font and Icon Styles
            font-family: "Font Awesome 6 Free";
            content: "\f013";
            font-weight: 900;
            font-size: 1.75rem;
            color: hsl(219 50% 45% / 1);

            // indicate clickable
            cursor: pointer;

            // Positioning
            position: absolute;
            bottom: -2rem;
            right: 0;

            // animation
            transition: all 0.5s;
            transform: rotate(0);

            // toggle animation for overlay gear icon toggle switch
            &.rotate {
                transform: rotate(180deg);
            }
        }

        @media (max-width: 450px) {
            width: min(95vw, 95vh);
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}